html * {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal; 
}

body {
    background-color: #080424;
    background-repeat: repeat-y;
    margin: 5px; 
    background-image: url('bitmap.png'); 
    background-size: cover;
}

.head {
    padding: 10px;
}

.row {
    width: 100%;
}

.title {
    color: #d2d0ff; 
    text-align: center; 
    vertical-align: bottom;
}

.col-sm-1 {
    background-image: url('osmosis-logo.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}

.double-col {
    width: 100%;
    background-color: #140e35;
    margin: 0 auto; 
    display: -webkit-flex; 
    display: flex;  
}

.bottom {
    width: 100%;
    background-color: #140e35;
    padding: 10px; 
    display: -webkit-flex; 
    display: flex;  
}

.double-col .col-sm-6 {
    padding: 30px; 
    background-color: #140e35;
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
}

.heading {
    color: #fff; 
    margin: 5px; 
    text-align: left;
    padding: 10px; 
}

#last_time {
    text-align: left;
}

#last_block {
    text-align: left; 
}

#pool_price {
    text-align: center;
}

.instructions {
    color: #d2d0ff;
    margin: 5px;
    padding: 10px;
}

.paragraph {
    color: #080424; 
    margin: 5px; 
    padding-left: 30px; 
    padding-bottom: 10px;
    padding-top: 0px;
}

a:hover {
    color: #e13cbd; 
}

.shiny-bound-input:not(:hover) {
    text-align: right;
    color: #d2d0ff; 
    background-color: #080424;
    outline-width: light;
    outline-color: #e13cbd;
    outline-style: solid;
    border: none;
    font-size: medium; 
    vertical-align: center;
}

.shiny-bound-input:hover {
    text-align: right;
    color: #d2d0ff; 
    background-color: #080424;
    outline-width: light;
    outline-color: #e13cbd;
    outline-style: solid;
    border: none;
    font-size: medium; 
    vertical-align: center;
}

.shiny-text-output {
    text-align: left;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    border: none; 
    text-align: right;
    font-size: medium;
    vertical-align: bottom; 
}

.pool-price {
    color: #fff; 
    margin: 5px; 
    padding: 10px; 
    text-align: left;
}

.pool-depth {
    color: #fff; 
    margin: 5px; 
    padding-top: 10px;
    text-align: left;
}

.control-label {
    color: #fff; 
    margin: 5px; 
}

.output_text {
    text-align: center;
    color: #d2d0ff; 
    padding: 5px;
    font-size: large;
}

.col-label {
    text-align: left;
    color: #d2d0ff; 
    padding: 5px;
    vertical-align: top;
    font-size: large;
    margin: 0px;
}

hr {
    border-top: 1px solid #d2d0ff
}

.break {
    border: none; 
    color: transparent;
}