body {
    background-color: #080424;
    background-repeat: repeat-y;
    margin: 5px; 
    background-image: url('bitmap.png'); 
    background-size: cover;
}

.title {
    color: #fff; 
    margin: 10px; 
    text-align: center;
}

.heading {
    color: #fff; 
    margin: 5px; 
    text-align: left;
}

.instructions {
    color: #d2d0ff;
    margin: 5px;
}

.shiny-bound-input:not(:hover) {
    text-align: right;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    outline-width: light;
    outline-color: #e13cbd;
    outline-style: solid;
    border: none;
    font-size: medium; 
    vertical-align: center;
}

.shiny-bound-input:hover {
    text-align: right;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    outline-width: light;
    outline-color: #e13cbd;
    outline-style: solid;
    border: none;
    font-size: medium; 
    vertical-align: center;
}

.shiny-text-output {
    text-align: left;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    border: none; 
    text-align: right;
    font-size: medium;
    vertical-align: bottom; 
}

.pool-price {
    color: #fff; 
    margin: 5px; 
    text-align: center;
}

.control-label {
    color: #fff; 
    margin: 5px; 
}

.output_text {
    text-align: center;
    color: #d2d0ff; 
    padding: 5px;
    font-size: large;
}

.col-label {
    text-align: left;
    color: #d2d0ff; 
    padding: 5px;
    vertical-align: top;
    font-size: large;
    margin: 0px;
}

hr {
    border-top: 1px solid #d2d0ff
}